.ui-autocomplete {
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-autocomplete::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #bcbcbc;
  opacity: 0.8;
}
