.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
}

.main-content {
  padding: 20px;
}

@media (max-width: 920px) {
  .sidebar {
    display: none;
  }

  .navbar-brand {
    font-size: 1.1rem;
  }
  .btn-group .btn {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
  }
  .table th,
  .table td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 920px) {
  .sidebar {
    display: block;
  }
}

.ui-autocomplete {
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-autocomplete::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #bcbcbc;
  opacity: 0.8;
}

.table-responsive tbody td {
  white-space: nowrap;
}

.table-responsive {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.table-responsive::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.multi-select {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.multi-select-1,
.multi-select-2,
.multi-select-3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
}

.multi-select-1:hover,
.multi-select-2:hover,
.multi-select-3:hover {
  background-color: #e5e7eb; /* Gray-200 */
}

.multi-select input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-select input[type='checkbox']:checked {
  background-color: #0d6efd;
  color: white;
}

.multi-select p {
  margin: 0;
}

.multi-select-1.selected,
.multi-select-2.selected,
.multi-select-3.selected {
  background-color: #dbeafe; /* Blue-200 */
}

.multi-select-1.selected:hover,
.multi-select-2.selected:hover,
.multi-select-3.selected:hover {
  background-color: #93c5fd; /* Blue-300 */
}
